@charset "utf-8";
/* CSS Document */



/*Login form and Registration form*/
#popUpWindow{
  //background:red; 
}

.form1 {

width:70%;
height:400px;
margin:0 auto;
padding:20px;

}

.form2 {

width:70%;
height:470px;
margin:0 auto;
padding:20px;

}

.modal-content, .modal-header, .modal-footer {

border:none;
	
}

button[name="log"] {

height:40px;
margin-top:20px;
	
}

.modal-title {

text-align:center;	
	
}


.formtitle {
	
font-weight:bold;
margin-top:5px;
margin-bottom:5px;
	
}

.buttons {
	
float:right;	
	
}

.container-fluid {
	
background:red;
padding-right:0;
	
}


